* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Sign-Up-Log-In-Link {
  cursor: pointer;
}

.container {
  background-color: white;
  height: 100%;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.LogIn-SignUp-Button {
  color: white !important;
  background-image: linear-gradient(120deg, #84d8fa 0%, #c444ff 100%);
}
.testing {
  background: linear-gradient(
    63.18deg,
    #25edfc 0%,
    rgba(200, 109, 255, 0.75) 53.86%,
    #fc6bc2 100%
  );
}
