main {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-bottom: 30px;
}

.top-section-conatiner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  /* background: radial-gradient(#1fe4f5, #3fbafe); */
  background: white;
  margin: 20px;
  padding: 20px;
  width: 45%;
  min-height: 350px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgb(0 0 0 / 25%);
  box-sizing: border-box;
}

.card-container.metric-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: ; */
}

.card-container.bottom {
  width: 93%;
  min-height: 70px;
}

.card-container-line-chart {
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-one {
  /* background-color: red; */
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1530px;
}

#section-two {
  /* background-color: green; */
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
}

.tops {
  max-width: 760px;
}

.bottom {
  max-width: 1420px;
  min-height: fit-content;
}

.nav-bar {
  display: flex;
  padding: 10px;
  align-items: center;
  /* width: 100vw; */
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}

@media screen and (max-width: 1036px) {
  .card-container {
    width: 100%;
  }
  body {
    height: 100%;
  }
  .card-container {
    margin-top: 0;
  }
  .card-container:first-child {
    margin-top: 20px;
  }
}
